.mission-title {
  display: grid;
  grid-template-columns: 11.5% 64.5% 12% 8%;
  grid-template-rows: auto;
  align-items: center;
  border: 1px solid #d8d8d8;
}

.main {
  margin: 20px 50px 20px;
}

.title-desc {
  border: 1px solid #d8d8d8;
}

.title-status {
  border-right: 1px solid #d8d8d8;
}
